{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static "css/custom.css" %}">
{% endblock %}

{% block content %}
<section class="ftco-section contact-section register">
    <div class="container">
        <div class="row block-9 justify-content-center">
            <div class="col-md-6 order-md-last d-flex">
                <div class="form-group">
                    <h4 class="reset center">Reset password complete</h4>
                    Your password has been set. You may go ahead and <a href="{% url 'login' %}">Login Here</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}